<main #mainRef cdkDropListGroup>
  @if (columns) { @for (column of columns; track column.status) {
  <div
    class="column"
    [ngClass]="column.htmlClass"
  >
    <header>
      <span [matBadge]="column.count" [matBadgeOverlap]="false">{{
        column.title
      }}</span>
    </header>
    <div class="drop-lists-container">
      <div
        class="tasks-list"
        cdkDropList
        [id]="column.status"
        [cdkDropListSortingDisabled]="true"
      >
        @for (task of column.list; track task.id) {
          @if (draggingData?.draggedItem?.task?.status === column.status && draggingData?.draggedItem?.index === $index) {
            <app-kanban-task-card
              class="gray-overlay"
              [task]="draggingData!.draggedItem!.task"
            />
          }
        <app-kanban-task-card
          [task]="task"
          cdkDrag
          [cdkDragData]="task"
          [cdkDragBoundary]="mainRef"
          (cdkDragStarted)="onDragStarted($event, $index)"
          (cdkDragDropped)="onDropListDropped($event)"
        />
      }
      </div>
      @if (draggingData) {
        @if (draggingData.statuses[column.status]) {
          @for (item of draggingData.statuses[column.status]!.transitions; track item) {
            <div
              class="placeholder-list"
              cdkDropList
              [id]="item"
              [cdkDropListSortingDisabled]="true"
            ></div>
          }
        }
      }
    </div>
  </div>
  } }
</main>
