$draggingWaiting: red;
$draggingPaused: grey;
$draggingInProgress: blue;
$draggingCompleted: green;

:host {
  display: grid;
  &, main, .tasks-list {
    min-height: 100%;
  }

  main {
    display: flex;
    gap: 20px;

    .column {
      display: grid;
      grid-template-rows: auto 1fr;
      $offset: 12px;
      padding: $offset $offset 0 $offset;
      border-radius: 8px;
      width: 25%;
      gap: $offset;
      background-color: #e4e4e4;

      header {
        font-size: 16px;
        font-weight: 500;
      }

      .drop-lists-container {
        position: relative;
        .tasks-list {
          display: flex;
          flex-direction: column;
          gap: $offset;
          padding-bottom: $offset;
          overflow-y: auto;
        }

        .placeholder-list {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 12px;
          backdrop-filter: blur(10px);
          border-width: 3px;
          border-style: dashed;
          box-sizing: border-box;
          transition: .2s;
        }
      }

      &.waiting {
        .placeholder-list {
          border-color: $draggingWaiting;
          &:hover {
            background-color: rgba($draggingWaiting, 0.1);
          }
        }
      }
      &.paused {
        .placeholder-list {
          border-color: $draggingPaused;
          &:hover {
            background-color: rgba($draggingPaused, 0.1);
          }
        }
      }
      &.in-progress {
        .placeholder-list {
          border-color: $draggingInProgress;
          &:hover {
            background-color: rgba($draggingInProgress, 0.1);
          }
        }

      }
      &.completed {
        .placeholder-list {
          border-color: $draggingCompleted;
          &:hover {
            background-color: rgba($draggingCompleted, 0.1);
          }
        }
      }
    }
  }
}
