<main cdkDropListGroup>
  @if (columns) { @for (column of columns; track column.status) {
  <div
    class="column"
    [ngClass]="column.htmlClass"
  >
    <header>
      <span [matBadge]="column.count" [matBadgeOverlap]="false">{{
        column.title
      }}</span>
    </header>
    <div class="drop-lists-container">
      <div
        class="tasks-list"
        cdkDropList
        cdkDropListOrientation="vertical"
        [id]="column.status"
        [cdkDropListSortingDisabled]="true"
        (cdkDropListEntered)="cdkDropListEntered($event)"
      >
        @for (task of column.list; track task.id) {
        <app-kanban-task-card
          [task]="task"
          cdkDrag
          [cdkDragData]="task"
          (cdkDragStarted)="onDragStarted($event)"
          (cdkDragEnded)="onDragEnded()"
          (cdkDragDropped)="onDropListDropped($event)"
        />
      }
      </div>
      @if (draggingData) {
        @if (draggingData.statuses[column.status]) {
          @for (item of draggingData.statuses[column.status]!.transitions; track item) {
            <div
              class="placeholder-list"
              cdkDropList
              [id]="item"
              [cdkDropListOrientation]="'vertical'"
              [cdkDropListSortingDisabled]="true"
              (cdkDropListEntered)="cdkDropListEntered($event)"
            ></div>
          }
        }
      }
    </div>
  </div>
  } }
</main>
